@use '../variables/mixins';

.fields {
  @include mixins.flexarize(column, center);
  gap: 0.5rem;
  width: 100%;

  &--colors {
    @include mixins.flexarize(row, space-between, center, wrap);
  }
}

@media screen and (min-width: 992px) {
  .fields {
    padding: 0 0 1rem 1rem;

    &--hidden {
      display: none;
    }
  }
}
