.field {
  &__label {
    cursor: pointer;

    &--capitalized {
      text-transform: capitalize;
    }
  }

  &__checkbox {
    &--hidden {
      display: none;
    }
  }
}

@media screen and (min-width: 992px) {
  .field {
    &__label {
      font-size: 0.85vw;
    }
  }
}
