@use '../variables/colors';
@use '../variables/mixins';

.header {
  @include mixins.flexarize(row, space-between, center);
  padding: 2rem;
  width: 100%;

  &--main {
    flex: initial;
    text-transform: capitalize;
  }
}

@media screen and (min-width: 992px) {
  .header {
    padding: 1rem;

    &--hoverable {
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: colors.$light-grey;
      }
    }
  }
}
