@use '../variables/mixins';

.header {
  @include mixins.flexarize(row, space-between, center);
  padding: 2rem;
  width: 100%;
  cursor: pointer;

  &--main {
    flex: initial;
    text-transform: capitalize;
  }
}

@media screen and (min-width: 992px) {
  .header {
    padding: 0;
  }
}
