@use '../variables/mixins';

.products-page {
  @include mixins.flexarize(column);
  position: relative;
  min-height: 100vh;
}

@media screen and (min-width: 992px) {
  .products-page {
    @include mixins.flexarize(row, flex-start, flex-start, wrap);
    gap: 2rem;
    padding: 3rem;
    height: 100vh;
  }
}
