@use '../variables/mixins';

.products-page {
  @include mixins.flexarize(column);
  position: relative;
  min-height: 100vh;
}

@media screen and (min-width: 992px) {
  .products-page {
    padding: 3rem;
  }
}
